:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --attribution-color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


html {
    height: fit-content;
}

body {
    height: fit-content;
    size: 1rem;
    font-family: "Outfit", "sans-serif";
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--Stone-100);
    color: var(--Stone-600);
    margin: 4.688rem 0;
}

h1 {
    color: var(--Stone-900);
}

h2 {
    color: var(--Brown-800);
}

h1, h2 {
    font-family: "Young Serif", serif;
}

h3 {
    color: var(--Rose-800);
    font-weight: 500;
    margin: 0;
}

figure {
    margin: 0;
    padding: 40px 40px 0 40px;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.625rem;
}

section {
    padding: 0 40px;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 25px;
}

ul li, ol li {
    padding-left: 15px;
    margin-bottom: 15px;
}

li::marker {
    color: var(--Brown-800);
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid var(--Stone-150);
    text-align: left;
}

tr:last-child {
    border-bottom: none;
}

th, td {
    width: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
}

th {
    font-weight: 300;
    padding-left: 35px;
}

td {
    font-weight: 500;
    color: var(--Brown-800);
}

.bold {
    color: var(--Stone-600);
    font-weight: 600;
}

.recipe-card {
    background: var(--White);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
}

.preparation-time-card {
    background: var(--Rose-50);
    padding: 1.5rem;
    border-radius: 0.625rem;
    margin: 2.25rem 0 0 0;
}

.preparation-time-card ul {
    list-style-type: disc;
}

.preparation-time-card li::marker {
    color: var(--Rose-800);
}

.instructions-section, .nutrition-section {
    border-top: 1px solid var(--Stone-150);
    margin: 1rem 0 0 0;
}

.instructions-section h2, .nutrition-section h2 {
    margin: 1.25rem 0;
}

.instructions-section p, .nutrition-section p {
    margin-top: 0;
}

.attribution {
    margin: 0.5rem 0 0 0;
    font-size: 0.6875rem;
    text-align: center;
    color: var(--Stone-900);
}

.attribution a {
    color: var(--Brown-800);
}

.attribution a:hover {
    color: var(--Rose-800)
}

@media screen and (max-width: 425px) {
    body {
        padding: 0;
        margin: 0;
    }
    figure {
        padding: 0;
    }
    figure img { 
        border-radius: 0;
    }
    .recipe-card {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}